@font-face {
  font-family: 'iconfont';  /* Project id 2714369 */
  src: url('//at.alicdn.com/t/font_2714369_8t0600prr2q.woff2?t=1641142485239') format('woff2'),
       url('//at.alicdn.com/t/font_2714369_8t0600prr2q.woff?t=1641142485239') format('woff'),
       url('//at.alicdn.com/t/font_2714369_8t0600prr2q.ttf?t=1641142485239') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e631";
}

.icon-arrowbottomdot:before {
  content: "\e6a0";
}

.icon-zujihuitabber:before {
  content: "\e614";
}

.icon-liulanjiluzuji:before {
  content: "\e636";
}

.icon-setting:before {
  content: "\e650";
}

.icon-xiajiantou:before {
  content: "\e60c";
}

.icon-pen:before {
  content: "\e6be";
}

.icon-xintubiaogeshi2020_huaban93:before {
  content: "\e668";
}

.icon-fankui:before {
  content: "\e68b";
}

.icon-youjiantou:before {
  content: "\e68c";
}

.icon-github:before {
  content: "\e709";
}

.icon-shouji:before {
  content: "\e6a1";
}

.icon-weixin:before {
  content: "\e73b";
}

.icon-QQ:before {
  content: "\e73e";
}

.icon-yanzhengma:before {
  content: "\e667";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-tongzhi1:before {
  content: "\e6e5";
}

.icon-bianqian1:before {
  content: "\e622";
}

.icon-bianqianguanli:before {
  content: "\e611";
}

.icon-bianqian:before {
  content: "\e60f";
}

.icon-icon-search:before {
  content: "\e605";
}

.icon-wenti:before {
  content: "\e67a";
}

.icon-tiwen1:before {
  content: "\e600";
}

.icon-caogaoxiang:before {
  content: "\e6fc";
}

.icon-faxian:before {
  content: "\e6fd";
}

.icon-redu:before {
  content: "\e6fe";
}

.icon-shoucang:before {
  content: "\e6ff";
}

.icon-search:before {
  content: "\e60b";
}

.icon-gengduo:before {
  content: "\e6fb";
}

.icon-fabiao:before {
  content: "\e6f3";
}

.icon-fasong:before {
  content: "\e6f4";
}

.icon-dianzan:before {
  content: "\e6f5";
}

.icon-shezhi:before {
  content: "\e6f6";
}

.icon-tongzhi:before {
  content: "\e6f7";
}

.icon-shouye:before {
  content: "\e6f8";
}

.icon-wode:before {
  content: "\e6f9";
}

.icon-zhuanfa:before {
  content: "\e6fa";
}

